
* {
    font-family:"Roboto", sans-serif;;
    box-sizing: border-box;
        
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #0066b3;
}

.logo img {
    display: block;
    margin-left: 75px;
    height: 120px;
    width: 200px;
}

.nav-bar {
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.nav-list {
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.nav-list a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    padding: 20px 16px;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}

.nav-list a:hover {
    color: darkorange;
    border-bottom: 4px solid #ffffff;
}

#btn {
    background-color: cornflowerblue;
    padding: 10px 25px;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;

}

#btn:hover {
    border: none;
    background-color: aliceblue;
}

.img-container4 {
    height: 500px;
    width: 100%;
    background-image: url(../img/eventos.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;


}


/*Conteúdo da página*/

.text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:#ffffff;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    
}

.text h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

main {
    margin-top: 40px;
    background-color: #ffffff;
}




/*SiteMap*/

footer {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*centraliza verticalmente*/
}

.sitemap ul,
.sociais ul {
    list-style: none;
}

.sitemap h3 {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.sociais{   
    margin-bottom: auto;
    margin-right: 20px;
}

.sociais ul li{
   display:inline;
   margin: auto;
}

.sitemap ul li,
.sociais ul li {
    margin-bottom: 10px;
}

.sitemap a,
.sociais a {
    text-decoration: none;
    color: #333;
}

.sitemap a:hover,
.sociais a:hover {

    color: darkorange;

}

.info {
    text-align: center;
}

.info p {
    margin: 0;
    line-height: 30px;
}

.info {
    text-align: center;
}

.info p {
    margin: 0;
    line-height: 30px;
}



.box-Total {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    font-family: "Roboto", sans-serif;
}

.box-img {
    display: flex;
    justify-content: center;
    width: 45%;
    height: 45%;
    
}

.box-txt {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 35%;
    height: 300px;
    
}

.tituevent{
    text-align: center;
    justify-content: center;
}

.txt{
    font-size: 18px;
    font: "Roboto", sans-serif;
}

.imgc{
    height: 280px;
    width:280px
}

.imga{
    width: 410.115px;
    height: 270px;
}